.popup__button {
    font-family: 'Inter', sans-serif;
    width: -webkit-fill-available;
    appearance: none;
    border: none;
    height: 50px;
    background-color: black;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    margin: 0;
    cursor: pointer;
    transition: opacity .2s linear;
    border-radius: 2px;
    padding: 0;
}

.popup__button:hover {
    opacity: .8;
}

@media (max-width: 450px) {
    .popup__button {
        margin: 0;
        font-size: 14px;
        line-height: 17px;
        height: 46px;
    }
}