.profile__text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    margin: 0;
    max-width: 336px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width: 750px) {
    .profile__text {
        font-size: 15px;
        line-height: 18px;
    }
}

@media (max-width: 680px) {
    .profile__text {
        font-size: 14px;
        line-height: 17px;
    }
}

@media (max-width: 450px) {
    .profile__text {
        max-width: 282px;
    }
}