.register__password-input {
    background-color: transparent;
    color: #ccc;
    border: 0;
    border-bottom: 2px solid #ccc;
    outline: none;
    padding: 0px 0 13px;
    margin: 30px 0 216px;
}

.register__password-input::placeholder {
    color: #ccc;
}

.register__password-input:-webkit-autofill {
    -webkit-text-fill-color: #ccc;
    -webkit-box-shadow: 0 0 0px 1000px #000 inset;
}

@media (max-width: 600px) {
    .register__password-input {
      margin: 30px 0 173px;
    }
  }