.header {
  max-width: 880px;
  margin: 45px auto 40px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media (max-width: 950px) {
  .header {
    margin: 45px 30px 40px;
  }
}

@media (max-width: 600px) {
  .header {
    margin: 28px 0 42px;
  }
}